<div class="toolbar-save pull-right">    
    <div class="btn-group version">
        {% if page and page.versions %}   
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Version
            <span class="caret"></span>
            </a>             
            <ul class="dropdown-menu" id="versions">
                {% for v in page.versions %}
                    <li {{ 'class="active"' if loop.first }}>
                        <a data-id="{{ v._id|string }}">
                            {{ v.published|strftime(data.date_format_short) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <button class="btn btn-success" id="save"
            data-page-id="{{ page_id }}">
        Save and Publish
    </button>
</div>
<div class="toolbar-redactor">
</div>